@charset "utf-8";
/* CSS Document */
* {
	margin:0 0;
	padding:0;
}

address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
html, body {
	height: 100%;
	background:#FFF;
}

body { font: 12px/2em 'open_sansregular', Verdana, sans-serif; }
p{
	line-height: 1.4em;
}
.wrapper
{
	position: relative;	
	max-width: 1040px;
	width: 80%;
	margin: 0 auto -240px;
	/*padding: 0 50px;*/
	text-align:left;
}
header#mainHeader {

	/*background: #646266;*/
	height: 150px;
	margin-bottom: 24px;
	background-image: url('/vefforitun/image/jardskjalfti_banner.jpg');

}
header#mainHeader h1 {
	font-size:3.2em;
	padding-top: 1.3em;
	text-transform: uppercase;
	color:#fff;
	text-align: center; 
}
nav{
	margin: 10px;
}
nav ul {

	list-style: none;
	text-align: center;
	padding-bottom: 10px;
}
nav a {
	color:#333;
	padding-bottom: 10px;
}
nav ul li{
	/*float:left;*/
	font-size: 2em;
	display: inline;
}

nav h2{
	display: none;
}
#adal{
	float:left;
	width:600px;
	/*padding: 0 10px 0 25px;*/
	padding: 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
#hlid{
	border-top: 15px;
	float:right;
	clear:right;
	width:400px;

}
#auka{
	display: none;
}
footer .footerbox{
	float: left;
	margin-top: 4em;
	margin-bottom: 2em;
	width: 100%;
	overflow: hidden;
}
.hlidar_art p, h2{
	padding-left: 1em;
	padding-right: 1em;
}
.hlidar_art{
	margin-bottom: 10px;
	border-style: solid;
	border-color: #000;
	border-width: 2px;
	background: #f7f0b7;
	padding-bottom: 1em;
	background: -moz-linear-gradient(top,  #f7f0b7 0%, #b57c12  100%);
	background:-webkit-linear-gradient(top,  #f7f0b7 0%, #b57c12 100%);
	background: linear-gradient(top,  #f7f0b7 0%, #b57c12 100%);

}
#map_canvas {
    width: 600px;
    height: 500px;
}

#map_div{
	margin-top: 10px;
	margin-bottom: 10px;
}
#map_tile{
	font-size: 1.3em;
	font-weight: bold;
}
#m_section{
	display: none;
}