@charset "utf-8";
/* CSS Document */
* {
	margin:0 0;
	padding:0;
}
hgroup{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font: inherit;
}
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
html, body {
	height: 100%;
	background:#FFF;
}

body { font: 12px/2em 'open_sansregular', Verdana, sans-serif; }
.wrapper
{
	position: relative;	
	max-width: 1040px;
	width: 80%;
	margin: 0 auto -240px;
	padding: 0 50px;
	text-align:left;
}
header#mainHeader {
	background: #646266;
	height: 150px;
	margin-bottom: 24px;

}
header#mainHeader h1 {
	font-size:3.2em;
	padding: 20px 60px;
	color:#fff;
	text-align: center; 
}
nav{
	margin: 10px;
}
nav ul {

	list-style: none;
	text-align: center;
	padding-bottom: 10px;
}
nav a {
	color:#333;
	padding-bottom: 10px;
}
nav ul li{
	/*float:left;*/
	font-size: 2em;
	display: inline;
}

nav h2{
	display: none;
}
#adal{
	float:left;
	width:600px;
	/*padding: 0 10px 0 25px;*/
	padding: 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
#hlid{
	border-top: 15px;
	float:right;
	clear:right;
	width:400px;

}
#auka{
	display: none;
}
footer .footerbox{
	float: left;
	margin-top: 4em;
	margin-bottom: 2em;
	width: 100%;
	overflow: hidden;
}
.hlidar_art{
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100#)
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100#)
	background: linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100#)
}