@charset "utf-8";
/* CSS Document */
* {
	margin:0 0;
	padding:0;
}

address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
html, body {
	height: 100%;
	background:#FFF;
}

body { font: 12px/2em 'open_sansregular', Verdana, sans-serif; }
p{
	line-height: 1.4em;
}
.wrapper
{
	position: relative;	
	max-width: 1040px;
	width: 80%;
	margin: 0 auto -240px;
	/*padding: 0 50px;*/
	text-align:left;
}
header#mainHeader {

	
	height: 150px;
	margin-bottom: 24px;
	background-image: url("../image/jardskjalfti_banner.jpg");

}
img{
	float: left;
	border-style: solid;
	border-color: #000;
	border-width: 2px;
	margin-top: 4px ;
	margin-right: 8px;
	margin-bottom: 2px;
}
header#mainHeader h1 {
	font-size:3.2em;
	padding-top: 1.3em;
	text-transform: uppercase;
	color:#fff;
	text-align: center; 
}
nav{
	margin: 10px;
}
nav ul {

	list-style: none;
	text-align: center;
	padding-bottom: 10px;
}
nav a {
	color:#333;
	padding-bottom: 10px;
}
nav ul li{
	/*float:left;*/
	font-size: 2em;
	display: inline;
}

nav h2{
	display: none;
}
nav ul li a:hover { border-bottom: 4px solid #55c; }
.current { color: #55c; border-bottom: 4px solid #55c;  }
#adal{
	float:left;
	width:600px;
	/*padding: 0 10px 0 25px;*/
	padding: 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
#hlid{
	border-top: 15px;
	float:right;
	clear:right;
	width:400px;

}
#auka{
	display: none;
}
footer .footerbox{
	font-size: 1.2em;
	float: left;
	height: 100px;
	width: 100%;
	overflow: hidden;
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(226,226,226,1) 47%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(47%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 47%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 47%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 47%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(226,226,226,1) 47%); /* W3C */

}

.hlidar_art p, h2{
	padding-left: 1em;
	padding-right: 1em;
}
.hlidar_art{
	margin-bottom: 10px;
	border-style: solid;
	border-color: #000;
	border-width: 2px;
	background: #f7f0b7;
	padding-bottom: 1em;
	background: -moz-linear-gradient(top,  #f7f0b7 0%, #b57c12  100%);
	background:-webkit-linear-gradient(top,  #f7f0b7 0%, #b57c12 100%);
	background: linear-gradient(top,  #f7f0b7 0%, #b57c12 100%);

}
#map_canvas {
    width: 600px;
    height: 500px;
}

#map_div{
	margin-top: 10px;
	margin-bottom: 10px;
}
#map_tile{
	font-size: 1.3em;
	font-weight: bold;
}
#m_section{
	display: none;
}
.adal_articl{
	margin-top: 10px
}